.homeContentBackground {
    background: rgba(255, 255, 255, 0.45);
    border-radius: 12.199px;
    margin-top: 30%;
    width: 80%;

}

.homeContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContentTitle{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 29.2775px;
    line-height: 124.8%;
    padding: 4%;
}

.homeContentTitleSecond{
    color: #99463A;
}

.homeContentDescription{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18.0467px;
    line-height: 180.3%;
    padding: 4%;
}