.serviceTitle{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 151.3%;
    letter-spacing: 0.33em;
    display: flex;
    left:52%;
    position: relative;
    margin-top: 110px;
    margin-bottom: 40px;
}

.serviceTitleFirstCharacter{
    color: #99463A;
}

.eachServiceOutline{
    background: linear-gradient(180deg, #C1C0BC 0%, #D5D1C3 38.54%);
    opacity: 0.87;
    border-radius: 29.433px;
    width: 274.15px;
    padding:20px;
}

.serviceTitleOutline{
    display: flex;
    justify-content: space-around;
    margin-left:200px;
    margin-right:200px;
    margin-bottom: 30px;
}

.serviceEachTitle{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #342D32;
}

.serviceBorder{
    box-sizing: border-box;
    border: 1.52283px solid #42444A;
}

.eachPicture{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    padding: 4px;
}

.centerImage {
    display: flex;
    justify-content: center;
}

.serviceList{
    margin-top:15px;
}