.feeTitle{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 151.3%;
    letter-spacing: 0.33em;
    display: flex;
    left:15%;
    position: relative;
    margin-top: 110px;
    margin-bottom: 40px;
}

.feeTitleColor{
    color: #99463A;
}


.feeBackground{
    background-color: white;
    height: 100vh;
    padding: 30px;
    box-shadow:
            inset 0 5px 3px rgba(0, 0, 0, 0.25),
            inset 0 -5px 3px rgba(0, 0, 0, 0.25),
            inset 5px 0 3px rgba(0, 0, 0, 0.25),
            inset -5px 0 3px rgba(0, 0, 0, 0.25);
}

.title{
    border-bottom: 2px solid #99463A;
}

.itemTitle{
    padding-left: 0;
}