
.aboutTitle{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    position: relative;
    left: 45%;
    margin-top:110px;
}

.aboutTitleSecond{
    color: #99463A;
}

.aboutScrollBase{
position: relative;
    left: 45%;
    margin-top: 20px;
    width: 10%;
    height: 5px;
    background: #99463A;
}