
.aboutTitle{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    position: relative;
    left: 45%;
    margin-top:110px;
    margin-bottom: 20px;
}

.aboutTitleSecond{
    color: #99463A;
}

.aboutScrollBase{
    position: relative;
    margin-top: 0;
    background: #D5D1C3C9;
    background: rgba(213, 209, 195, 0.79);
    padding: 30px 10px;
    box-shadow:
            inset 0 5px 3px rgba(0, 0, 0, 0.25),
            inset 0 -5px 3px rgba(0, 0, 0, 0.25),
            inset 5px 0 3px rgba(0, 0, 0, 0.25),
            inset -5px 0 3px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
    background-color: white;
}

.scrollTitle{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #99463A;
}

.scrollTitleBackgroundPicture{
    position: relative;
    background-image: url("../../images/scroll0.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 43px 0;
    padding: 30px;
}

.scrollTitleBackgroundPicture0{
    position: relative;
    background-image: url("../../images/scroll0.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 43px 0;
    padding: 30px;
}

.scrollTitleBackgroundPicture1{
    position: relative;
    background-image: url("../../images/scroll1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 43px 0;
    padding: 30px;
}

.scrollTitleBackgroundPicture2{
    position: relative;
    background-image: url("../../images/scroll2.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 43px 0;
    padding: 30px;
}

.scrollTitleBackgroundPicture3{
    position: relative;
    background-image: url("../../images/scroll0.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 43px 0;
    padding: 30px;
}


.scrollTitleBack{
    background: rgba(217, 217, 217, 0.9);
    border-radius: 7px;
    width: 280px;
    display: flex;
    justify-content: center;
}

.aboutScroll{
    margin-top: 50px;
    margin-bottom: 50px;

}

.aboutScrollLeft{
    margin-right:0;
}

.aboutScrollRight{
    margin-left:0;
}

.aboutScrollContent{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    white-space: pre-line;
}

.titleWrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.contentWrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}