.description{
    color: white;
}

.underTitleSpace{
    background: #D5D1C366;
    top:30%;
    left:30%;
    position: absolute;
    border-radius: 10px;
}

.titleSecundColor{
    color: #99463A;
    white-space: normal;
}

.title{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    width: auto;
    font-weight: 600;
    font-size: 48px;
    line-height: 124.8%;
}

.titleSecund{
    display: flex;
    justify-content: left;
    white-space: pre-wrap;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
}

.titleDescription{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}